* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--co-grey);
  background: url(../assets/bg/back_2-min.jpg) center/cover no-repeat;

  /* font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

h1,
h2 {
  margin: 10px;
  color: var(--co-black);
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: none;
  padding: 10px;
  background-color: var(--co-purple);
  border-radius: 10px;
  color: var(--co-white);
  font-size: 24px;
  font-weight: 400;
}
